//- [injector:pugmixins]
//- [endinjector]

//- nx prototype mixins
include ../nx/3_organisms/nx-navigation/_nx-navigation.pug

doctype html
html
  head
    title=yaml.basics.meta.title
    meta(charset='UTF-8')
    meta(content=yaml.basics.meta.description, name='description')
    meta(content=yaml.basics.meta.keywords, name='keywords')
    meta(content='3 days', name='revisit-after')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    block meta

    link(type='text/plain' rel='author' href=path+'humans.txt')

    block head
    // nx prototype styles
    // don't use for production
    link(href=path + 'nx/0_basics/nx-main.css', rel='stylesheet')
    // end nx prototype styles:end

    link(href=path+'0_basics/main.css', rel='stylesheet')
    if level == 0
      // build:css(bower_components) 0_basics/vendor.css
    else if level == 1
      // build:css(bower_components) ../0_basics/vendor.css
    else
      // build:css(bower_components) ../../0_basics/vendor.css
    // bower:css
    // endbower
    // endbuild

    noscript
      link(href=path+'0_basics/nojs.css', rel='stylesheet')
    <!--[if lte IE 9]>
    <link href="#{path}0_basics/ie9.css" rel="stylesheet">
    <![endif]-->

    -
      var _page = page.slice(2);
      var _indexOf = _page.indexOf('-');
      template = _page.slice(0, _indexOf);
      var nxBodyClass
      var noPattern = false;

      if( _page == "pages-index" || _page == "templates-index") { nxBodyClass = "nx-body"}
      else if (template != "pages" && template != "templates") { nxBodyClass = "nx-body"; noPattern = false }
      else { nxBodyClass = ""; noPattern = true}

  body(class= _page +' ' + nxBodyClass)
    +nx-navigation
    +header
    block content
    if noPattern == true
      +footer
    if level == 0
      // build:js({.,.tmp,bower_components}) 0_basics/controller.js
    else if level == 1
      // build:js({.,.tmp,bower_components}) ../0_basics/controller.js
    else
      // build:js({.,.tmp,bower_components}) ../../0_basics/controller.js

    // bower:js
    script(src='/jquery/dist/jquery.js')
    // endbower

    // [injector:js]
    // [endinjector]

    script(src=path+'0_basics/controller.js')
    // endbuild

    // nx prototype scripts
    // don't use in production
    if level == 0
      // build:js({.,.tmp,bower_components}) nx/0_basics/nx-controller.js
    else if level == 1
      // build:js({.,.tmp,bower_components}) ../nx/0_basics/nx-controller.js
    else
      // build:js({.,.tmp,bower_components}) ../../nx/0_basics/nx-controller.js
    // bower:js
    script(src='/svg4everybody/dist/svg4everybody.js')
    // endbower
    script(src=path + 'nx/3_organisms/nx-navigation/nx-navigation.js')
    script(src=path + 'nx/0_basics/nx-controller.js')
    // endbuild
    // end nx prototype scripts
